main {
    display: unset;
    border-radius: 0px;
    border-right: 0px;
}
.container {
    position: relative;
    left: 73%;
    top: 400px;
    width: 250px;
}
.container img {
    position: absolute;
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
}
