main {
    display: unset;
    border-radius: 0px;
    border-right: 0px;
}
.container_note {
    position: relative;
    left: 73%;
    top: 400px;
    width: 250px;
}
.container_note img {
    position: absolute;
    /* aspect-ratio: 4.9/4.7; */
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
}
