.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    justify-items: center;
    gap: 40px;
}
.container1 img {
    width: 400px;
    border-radius: 8px;
}
h2 {
    font-size: 1.5rem;
    line-height: 3rem;
}
p {
  line-height: 2rem;
}

