/** @format **/
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
/******** css-variabler *********/
html {
--bg-color: linear-gradient(to right, rgb(248, 174, 255) , rgb(189, 255, 132));
--bg_color2: rgb(248, 174, 255);
--top_border: solid rgb(94, 94, 94);
--top_bg: rgb(234, 234, 234);
--overskrift_vindue_bg: rgb(211, 211, 211);
--vindue_bg: white;
--border_bottom_bg: solid rgb(131, 131, 131);
--media_bg: rgb(250, 227, 253);
--bg_dark: #222;
font-family: 'Times New Roman', Times, serif;
}

body {
 /* aspect-ratio: 16/9; */
  background-color: var(--bg_color2); /* Hvis browseren ikke understøtter gradienten */
  background-image: var(--bg-color);
  font-family: var(--font);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  align-self: center;
}

/* header */
.banner {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3rem;
  background-color: var(--top_bg);
  border-bottom: var(--top_border);
}

/****** main ******/
.overskrift_vindue {
  background-color: var(--overskrift_vindue_bg);
  padding: 4px;
  border-radius:25px 25px 0px 0px;
  border-bottom: 3px var(--border_bottom_bg);
  font-size: 1.3rem;
  display: flex;
  position: relative;
  justify-content: space-around;
}
.overskrift_vindue img {
  position: absolute;
  width: 2.5%;
  right: 2%;
}
.baggrund_vindue {
  background-color: var(--vindue_bg);
  border-radius: 30px;
  border-right: 3px var(--border_bottom_bg);
  margin: 20px;
}
section {
  margin-bottom: 15px;
}
h2 {
  font-size: 1.2rem;
  line-height: 3rem;
  text-decoration: underline;
  color: black;
}
p {
  line-height: 1.6rem;
}
footer {
  background-color: var(--overskrift_vindue_bg);
  padding: 4px;
  border-radius: 0px 0px 25px 25px;
  border-top: 3px var(--border_bottom_bg);
  border-bottom: 4px var(--border_bottom_bg);
  font-size: 1.1rem;
  text-align: center;
}
a {
  text-decoration: underline;
  color: blue;
  font-size: 1.2rem;
}
