
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    justify-items: center;
    gap: 40px;
}
.container1 img {
    width: 250px;
    border-radius: 8px;
}
.tekst_container {
    grid-column: 2 / span 3;
}
.container2 {
    margin: 40px;
}
h2 {
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: underline;
}
p {
  line-height: 2rem;
}

.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.media_knap1 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color:rgb(250, 227, 253);
    padding: 1px;
}
.media_knap2 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color: rgb(250, 227, 253);
    padding: 1px;
}
