/******************* darkmode *****************/
.dark-mode {
    cursor: pointer;
    width: 40px;
    max-width: 40px;
    border-radius: 10px;
    transition: 0.5s 0s ease-in-out;
    z-index: 1;
}
.dark .dark-mode {
    filter: invert(100%);
}
.dark header{
    background-color: green;
}
.dark {
    color: #e6e6e6;
}
.dark footer, h3, .mappe p, .info {
    color: black;
}

.dark a {
    color: rgb(209, 199, 0);
  }
.dark body {
    background-color: black; 
    background-image: none;
    filter: invert(100%);
}
/******************* style *****************/
.container_note {
    position: fixed;
    right: 14%;
    top: 51%;
    width: 250px;
}
.container_note img {
    position: absolute;
    aspect-ratio: 4.9/4.7;
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
    font-size: 1.1rem;
    max-width: 60ch;
}
/******* menu ********/
/* mouse-over */
.toggle-btn a:hover {
    color: #f1f1f1;
}
.main-menu a:hover {
    color: #f1f1f1;
}
button .toggle-btn {
    width: 30px;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  gap: 20px;
}
nav li {
  width: 73px;
  padding-bottom: 5px;
  transition: 0.5s 0s ease-in-out;
  font-size: 1rem;
}

/* burgermenu */
.toggle-btn {
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; 
}
@media (max-width: 800px) {
  .toggle-btn {
    display: block; 
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: wrap;
    z-index: 1; 
  }
}

/******* generel container *******/
.container1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: center;
    gap: 10px;
}
.container1 img {
    border-radius: 8px;
    width: 63%;
    align-self: center;
}
.tekst_container {
    margin: 40px;
}
.tekst_container2 {
    margin: 40px;
}
.om_img {
    align-self: center;
}
.om_img img {
    border-radius: 8px;
    width: 70%;
    max-width: 70%;
}

.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/****** Media query *******/
@media screen and (min-width: 1100px) {
.luk_knap img {
    width: 3%;
}
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.container1_om {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container2_om {
    padding-left: 9%;
}
}
@media screen and (max-width: 1100px) {
.luk_knap img {
    width: 4%;
}
.container1_om {
    display: flex;
    flex-direction: column;
}
.om_img img {
    width: 45%;
    max-width: 50%;
}
}
@media screen and (max-width: 800px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.baggrund_vindue {
    margin: 30px;
}
.luk_knap img {
    width: 30px;
}
.container1_om {
    display: flex;
    flex-direction: column;
}

}
@media screen and (max-width: 600px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}

section {
    margin-left: 10px;
}
.container1_om {
    display: flex;
}

.container1 {
display: flex;
flex-direction: column;
}

}
@media screen and (max-width: 550px) {
main {   
    margin: -63px 5px 5px 10px;
}
.baggrund_vindue {
    margin: 0px 0px 15px 0px;
}

.section {
    margin: 0px;
}
.container1 {
    margin: 15px 7px 7px 15px;
}

}
@media screen and (max-width: 400px) {
.luk_knap img {
    min-width: 20px;
}
}