/*************************************** style *****************/
.container_note {
    position: fixed;
    right: 5%;
    top: 53%;
    width: 280px;
}
.container_note img {
    position: absolute;
    /* aspect-ratio: 4.9/4.7; */
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
    font-size: 1.4rem;
}
/******* menu ********/
.menu {
    padding-top: 90px;
    flex: 20%;
    flex-direction: column;
}
.menu p.active {
    text-decoration: underline;
}
/* mouse-over */
.menu a:hover {
    color: #f1f1f1;
}
.mappe p {
    text-align: center;
}
.mappe {
    width: 90px;
    padding-bottom: 5px;
    transition: 0.5s 0s ease-in-out;
}
#mappe_zoom {
    animation-name: mappe_kf;
    animation-duration: 0.3s;
}
@keyframes mappe_kf {
0% {
    transform: scale(90%);
}
100% {
    transform: scale(100%);
}
}
/******* generel container *******/
.container1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: center;
}
.container1 img {
border-radius: 8px;
}

/******** om  ********/
.container_om {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    justify-items: center;
    gap: 40px;
}
.container_om img {
    width: 250px;
    border-radius: 8px;
}
.container_om h2 {
    text-decoration: underline;
}
.tekst_container {
    grid-column: 2 / span 3;
}
.container2_om {
    margin: 40px;
}
.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.media_knap1 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color:rgb(250, 227, 253);
    padding: 1px;
}
.media_knap2 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color: rgb(250, 227, 253);
    padding: 1px;
}
/****** Media query *******/
@media screen and (min-width: 1100px) {
.luk_knap img {
    width: 3%;
}
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.container_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container2_om {
    padding-left: 9%;
}
}
@media screen and (max-width: 1100px) {
.luk_knap img {
    width: 4%;
}
.container_om {
    display: flex;
    flex-direction: column;
}
.om_img {
    align-self: center;
}
}
  @media screen and (max-width: 800px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.baggrund_vindue {
    margin: 30px;
}
.luk_knap img {
    width: 5%;
}
.container_om {
    display: flex;
    flex-direction: column;
}
.om_img {
    align-self: center;
}
}
@media screen and (max-width: 600px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}
section {
    margin-left: 10px;
}
.container_om {
    display: flex;
}
.om_img {
    align-self: center;
}
.container1 {
display: flex;
flex-direction: column;
}
.mappe p {
    font-size: 0.9rem;
}
}