/*************************************** style *****************/
.container_note {
    position: fixed;
    right: 14%;
    top: 51%;
    width: 280px;
}
.container_note img {
    position: absolute;
    aspect-ratio: 4.9/4.7;
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
    font-size: 1.1rem;
}
/******* menu ********/
.menu {
    padding-top: 11px;
    flex: 20%;
    flex-direction: column;
}
ul a {
    text-decoration: none;
    color: unset;
}
.menu p.active {
    text-decoration: underline;
}
/* mouse-over */
.menu a:hover {
    color: #f1f1f1;
}
.mappe p {
    text-align: center;
}
.mappe {
    width: 90px;
    padding-bottom: 5px;
    transition: 0.5s 0s ease-in-out;
}
#mappe_zoom {
    animation-name: mappe_kf;
    animation-duration: 0.3s;
}
@keyframes mappe_kf {
0% {
    transform: scale(90%);
}
100% {
    transform: scale(100%);
}
}
/******* generel container *******/
.container1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: center;
    gap: 30px;
}
.container1 img {
    border-radius: 8px;
    width: 70%;
    align-self: center;
}
.container1_om {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: center;
}
.om_img {
    align-self: center;
}
.om_img img {
    border-radius: 8px;
    width: 70%;
    max-width: 70%;
}

.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/****** Media query *******/
@media screen and (min-width: 1100px) {
.luk_knap img {
    width: 3%;
}
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.container1_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container2_om {
    padding-left: 9%;
}
}
@media screen and (max-width: 1100px) {
.luk_knap img {
    width: 4%;
}
.container1_om {
    display: flex;
    flex-direction: column;
}
.om_img img {
    width: 45%;
    max-width: 50%;
}
}
@media screen and (max-width: 800px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.mappe p {
    font-size: 0.8rem;
}
.baggrund_vindue {
    margin: 30px;
}
.luk_knap img {
    width: 5%;
}
.container1_om {
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 600px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}

section {
    margin-left: 10px;
}
.container1_om {
    display: flex;
}

.container1 {
display: flex;
flex-direction: column;
}
.mappe p {
    font-size: 0.8rem;
}
}
@media screen and (max-width: 550px) {
main {   
    margin: -63px 5px 5px 10px;
}
.baggrund_vindue {
    margin: 0px 0px 15px 0px;
}
.mappe {
    width: 70px;
}
.section {
    margin: 0px;
}
.container1 {
    margin: 15px 7px 7px 15px;
}
}
