/******************* darkmode *****************/
.dark-mode {
    cursor: pointer;
    width: 40px;
    max-width: 40px;
    border-radius: 10px;
    transition: 0.5s 0s ease-in-out;
    z-index: 1;
}
.dark .dark-mode {
    filter: invert(100%);
}
.dark .baggrund_vindue {
    background-color: rgb(57, 57, 57);
}
.dark .banner {
    background-color: rgb(57, 57, 57);
}
.dark p {
    color: #e6e6e6;
}
.dark h2 {
    color: #e6e6e6;
}
.dark footer p {
    color: #000000;
}
.dark .info p {
    color: black;
}
.dark a {
    color: rgb(209, 199, 0);
}
.dark body {
    background-color: black; 
    background-image: none;
    filter: invert(100%);
}

/******************** menu *******************/
.toggle-btn {
  border: none;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  display: none; 
}
button .toggle-btn {
    width: 30px;
}
.toggle-btn a:hover {
    color: #f1f1f1;
}
.main-menu ul {
    padding: 0;
    text-align: center;
    display: flex;
    gap: 20px;
}
nav li {
    width: 73px;
    padding-bottom: 5px;
    transition: 0.5s 0s ease-in-out;
    list-style: none;
}
li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
@media (max-width: 900px) {
  .toggle-btn {
    display: block; 
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: wrap;
    z-index: 1; 
  }
}
/******************* style *****************/

/******* forside *******/

.container_note {
    position: fixed;
    right: 14%;
    top: 51%;
    width: 250px;
}
.container_note img {
    position: absolute;
    aspect-ratio: 4.9/4.7;
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
    font-size: 1.1rem;
    max-width: 60ch;
}

/******* temaer *******/

/******** om *******/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    margin: 19px 15px 42px 15px;
}
.om_mig {
    max-width: 400px;
    align-self: center;
}
.om_p {
    max-width: 800px;
}
@media screen and (max-width: 730px) {
.container {
        display: flex;
        flex-direction: column;
    }
}
.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}
/********* web *******/
.img_02 {
    max-width: 500px;
    align-self: center;
}
/********** ux *******/
.container03 {
    margin: 19px 15px 42px 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tekst_con03_1 {
    max-width: 800px;
}
.img_con_03 {
    max-width: 300px;
    align-self: center;
}

@media screen and (max-width: 850px) {
.container03 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
/********** animation *******/
.img_04 {
    min-width: 300px;
    align-self: center;
}
/******* indhold *****/
.img_05 {
    max-width: 500px;
    align-self: center;
}
/********* portefolio ******/
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    margin: 19px 15px 15px 15px;
    justify-items: center;
    gap: 10px;
}
.tekst_container1 {
    grid-column: 2 / span 3;
    max-width: 800px;
}
.tekst_container2 {
    grid-column: 1 / span 2;
    margin-top: 10px;
    max-width: 800px;
}
/****** Media query *******/
@media screen and (min-width: 1100px) {
.luk_knap img {
    width: 3%;
}
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
}

@media screen and (max-width: 1100px) {
.luk_knap img {
    width: 3%;
}
}

@media screen and (max-width: 900px) {
.baggrund_vindue {   
    flex-direction: column;
}
.container1 {
    display: flex;
    flex-direction: column;
    }
.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.luk_knap img {
    width: 30px;
}
}

@media screen and (max-width: 600px) {
.baggrund_vindue {   
    flex-direction: column;
}
section {
    margin-left: 10px;
}
.container1 {
display: flex;
flex-direction: column;
}
}

@media screen and (max-width: 550px) {
.baggrund_vindue {
    margin: 10px 5px 5px 10px;
}
.container1 {
    margin: 15px 5px 5px 5px;
}
.tekst_container1 {
    margin: 5px;
}
.tekst_container2 {
    margin: 5px;
}
}

@media screen and (max-width: 400px) {
.luk_knap img {
    min-width: 20px;
}
}