/*************************************** style *****************/
#main1 {
    display: unset;
    border-radius: 0px;
    border-right: 0px;
}
.container_note {
    position: sticky;
    left: 73%;
    top: 400px;
    width: 250px;
}
.container_note img {
    position: absolute;
    /* aspect-ratio: 4.9/4.7; */
}
.info {
    padding: 19px;
    position: absolute;
    line-height: 1.8rem;
}
/******* generel container *******/
.container1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: center;
}
.container1 img {
border-radius: 8px;
}

/******** om  ********/
.container_om {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    justify-items: center;
    gap: 40px;
}
.container_om img {
    width: 250px;
    border-radius: 8px;
}
.container_om h2 {
    text-decoration: underline;
}
.tekst_container {
    grid-column: 2 / span 3;
}
.container2_om {
    margin: 40px;
}
.media {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.media_knap1 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color:rgb(250, 227, 253);
    padding: 1px;
}
.media_knap2 {
    font-size: 1.2rem;
    width: fit-content;
    cursor: pointer;
    background-color: rgb(250, 227, 253);
    padding: 1px;
}

/****** Media query *******/
@media screen and (max-width: 1200px) {
.luk_knap img {
    width: 4%;
}
.container_om {
    display: flex;
    flex-direction: column;
}
.om_img {
    align-self: center;
}
}
  @media screen and (max-width: 800px) {
main {   
    flex-direction: column;
    margin: -63px 5px 5px 10px;
}
.menu_mobile ul {
    display: flex;
    justify-content: space-around;
}
.vindue {
    margin-left: 0px;
}
.luk_knap img {
    width: 5%;
}
.container_om {
    display: flex;
    flex-direction: column;
}
.om_img {
    align-self: center;
}
}

main {   
    flex-direction: column;
    margin: 21px 2px 20px 2px;
}
section {
    margin-left: 0%;
}
.overskrift_vindue {
    position: unset;
}
.luk_knap img {
    right: 7%;
}
.baggrund_vindue {
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    border-right: 3px solid rgb(131, 131, 131);
  }
.container_om {
    display: flex;
}
.om_img {
    align-self: center;
}
.container1 {
display: flex;
flex-direction: column;
margin: 2%;
}




/******* menu ********/

/* mouse-over */
.toggle-btn a:hover {
    color: #f1f1f1;
}
.main-menu a:hover {
    color: #f1f1f1;
}
button .toggle-btn {
    width: 30px;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  gap: 20px;
}
nav li {
    width: 73px;
  padding-bottom: 5px;
  transition: 0.5s 0s ease-in-out;
  font-size: 1rem;
}

/* burgermenu */
.toggle-btn {
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; 
}
@media (max-width: 800px) {
  .toggle-btn {
    display: block; 
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none; 
  }
  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: wrap;
  }
}
